

  .about{
    padding: 4rem;
    background: #080808;
    /* width: 100%;
    margin: 0 auto; */
  }
 
  .about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;
    
    
  }
 
  .about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;
   
  }
/*  
  .fa-play{
    font-size: 100px;
    
  }
  
  
  .p-first{
    margin-bottom: 30px;
  }
   */
  
  .about h1{
    margin-bottom: 47px;
    margin-top: 12px;
    
  }
  
  
  .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;			
    
  }
  
  .about-link{
    padding-left: 0px;
  }
  
  .about-link li{
    display: inline-block;
  }
  
 .about-link li a i{
    width: 60px;
    height: 60px;
    border-radius: 70%;
    line-height: 50px;
    justify-self: start;
    text-align: center;
    border: 1px solid #080808;
    margin-right: 10px;
    font-size: 40px;
    color: #070707;
    transition: all .3s;
    
  }
  
  
  .about-link li a i:hover{
    color: #fff;
    background: rgb(8, 8, 8);
    border-color: #fff;
    
  }
 
  
  .about .about-img{
    position: relative;
    
  }
  
  .about .about-img{
    position: relative;
    
  }
  
  
  .color-3{
    color: #0a0a0a;
  }
  
  
  .text-white{
    color: black;
  }
  
  
  p{
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 17px;
    line-height: 200%;
    color: #070707;
  }
  
  .btn-danger{
    border-radius: 0;
    padding: 10px 20px;
  }
  .about_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #fff
  }
  .my_picture {
    width: 100%;
    height: auto;
  }
  /* .fab fa-github{
    
  } */
  @media only screen and (max-width: 960px) {
    .about_container {
      width: 100%;
    }
  }